body {
    text-align: center; 
}

form {
    margin-top: 30px;
}

fieldset {
    width: 40%;
    margin-top: 40px;
    margin-left: 30%;
    align: left;
    size: 40px;
}

th{
    width: 100px;
    height: 100px;
    border: solid 2px blue;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

td{
    width: 100px;
    height: 100px;
    font-size: 20px;
    border: solid 2px blue;
    text-align: center;
}